<h1> first name: <%= @contact.first_name  %> </h1>
<h2> middle name: <%= @contact.middle_name  %> </h2>
<h2> last name: <%= @contact.last_name  %> </h2>
<h2> phone: <%= @contact.phone_number  %> </h2>
<h2> email: <%= @contact.email %> </h2>

